<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Psicocare</li>
          <li><%= link_to t('.pacientes'), patients_path %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Buscar paciente"></li>
          <li><button type="button" class="button">Buscar</button></li>
          <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>

    <div class="row medium-8 large-7 columns">
      <%= yield %>
    </div>
  </body>
</html>
